@media (max-width: 798px){

    body{
    background-color: #a6b9c4;
    }

    .library-headers{
        display: none;
    }

    .book{
        width: 80%;
        flex-direction: column;
        margin: 10px auto;
        padding: 10px 0px;
        text-align: center;
    }

    

    .title,.author,.pages{
        text-align: center;
        width: 80%;
        justify-content: center;
    }

    .div-delete-button, .div-read-button{
        width: 100%;
    }
}